<!DOCTYPE html>
<html lang="en">

<head>

    {{>headerlinks}}

</head>

<body>

    {{>navbar}}

    <!-- main header -->
    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-11 col-14 -mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="errimg">
                            <img src="images/err.jpg" alt="suren" class="img-fluid" title="suren technical">
                        </figure>

                        <h1>Oops! Page Not Found</h1>
                        <a href="/"><button>
                                <h3>Go Back</h3>
                            </button></a>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- footer code -->

    {{>footer}}

</body>

</html>