<!DOCTYPE html>
<html lang="en">

<head>

    {{>headerlinks}}

</head>

<body>

    {{>navbar}}

    <!-- main header -->
    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-11 col-14 -mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-5 col-12 main_header_right">
                        <figure>
                            <img src="images/about.jpg" alt="suren" class="img-fluid" title="suren technical">
                        </figure>
                    </div>
                    <div class="col-md-6 col-14 main_header_left">
                        <p>
                        <h2>Welcome to Weather App</h2>
                        </p>
                        <h1>I Am A <span> Mern Stack Developer</span>.I Used To Write Code</h1>
                        <a href="https://surenale.github.io/" target="-suren"><button>
                                <h3>About Me</h3>
                            </button></a>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- footer code -->

    {{>footer}}

</body>

</html>